Certificado - Desafiso de Código - Aperfeiçoe Sua Lógica e Pensamento Computacional.pdf
Certificado - Resolvendo Seus Primeiros Desafios de Código.pdf
Bard IA.txt
bird_strikes.csv
Bootcamp-Desafios.code-workspace
